<a href="https://colab.research.google.com/github/vkodithala/NRG/blob/main/NRG_Data_Cleanup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import pandas as pd
print(pd.__version__)
# Importing .csv dataset from GitHub to Google Colab...
url = 'https://raw.githubusercontent.com/vkodithala/NRG/main/Energy%20Census%20and%20Economic%20Data%20US%202010-2014%202.csv?token=GHSAT0AAAAAAB2CFVCG3K5LQAX5YWQIS3Y4Y2O4URA'
df = pd.read_csv(url)
df
# Isolating the features pertinent to our project...
relevantdf = df[['StateCodes','TotalC2010', 'TotalC2011','TotalC2012','TotalC2013']]
relevantdf = relevantdf[0:51]
relevantdf
# Checking which rows are missing values...
df.isnull().sum()
# Permanently dropping all of the columns that are irrelevant to our project...
n = 181
df.drop(columns = df.columns[-n:], axis = 1, inplace = True)
df
df = df.drop(['State', 'Region', 'Division', 'Coast', 'Great Lakes'], axis = 1)
df
# Converting our cleaned dataset to a .csv file
df.to_csv('clean_NRG_data.csv')
df = pd.read_csv('clean_NRG_data.csv')
df

1.3.5

,Unnamed: 0,StateCodes,TotalC2010,TotalC2011,TotalC2012,TotalC2013,TotalC2014
0,0,AL,1931522,1905207,1879716,1919365,1958221
1,1,AK,653221,653637,649341,621107,603119
2,2,AZ,1383531,1424944,1395839,1414383,1422590
3,3,AR,1120632,1122544,1067642,1096438,1114409
4,4,CA,7760629,7777115,7564063,7665241,7620082
5,5,CO,1513547,1470445,1440781,1470844,1477177
6,6,CT,764970,739130,725019,754901,750019
7,7,DE,250212,272568,273728,273716,274013
8,8,FL,4282673,4141711,4029903,4076406,4121680
9,9,GA,3100144,2982837,2767491,2782782,2850990
10,10,HI,278046,287113,280171,281329,281206
11,11,ID,516120,516978,510869,526613,519935
12,12,IL,3955091,3937616,3820547,3991089,4042313
13,13,IN,2863396,2847188,2770158,2894764,2931630
14,14,IA,1499729,1498973,1440053,1518870,1541900
15,15,KS,1117631,1104843,1075435,1105160,1132354
16,16,KY,1978527,1903208,1868483,1838898,1770741
17,17,LA,4385758,4388867,4255161,4196622,4279443
18,18,ME,415065,413893,399670,409785,410530
19,19,MD,1464503,1410012,1368600,1395961,1400614
20,20,MA,1416119,1397164,1363282,1428433,1437640
21,21,MI,2753536,2785212,2687926,2832425,2881550
22,22,MN,1857095,1850749,1816866,1858816,1912065
23,23,MS,1177620,1155456,1143099,1138181,1155549
24,24,MO,1910500,1856590,1781978,1847506,1903839
25,25,MT,400855,402355,395724,405934,403446
26,26,NE,860741,862675,852984,871815,864347
27,27,NV,645604,632655,639190,659568,660256
28,28,NH,294473,292979,284490,304538,310142
29,29,NJ,2395713,2411816,2241207,2311685,2340188
30,30,NM,649962,668675,666540,670257,679136
31,31,NY,3723729,3611091,3503309,3626150,3742892
32,32,NC,2685333,2558792,2481060,2530649,2554776
33,33,ND,476072,528508,552326,594439,640095
34,34,OH,3824933,3792585,3655849,3739974,3809648
35,35,OK,1579910,1585212,1561913,1620837,1679856
36,36,OR,975067,1002476,975044,991867,987145
37,37,PA,3752280,3725014,3623997,3826959,3902434
38,38,RI,195314,185731,183879,199165,204459
39,39,SC,1643912,1601881,1558766,1590456,1632085
40,40,SD,378514,378470,375950,389619,391857
41,41,TN,2247273,2195401,2080953,2132508,2194512
42,42,TX,11687521,11906249,11931169,12660976,12899498
43,43,UT,756012,794058,790154,831668,797995
44,44,VT,153697,150475,130412,137527,139897
45,45,VA,2483360,2380922,2343908,2414477,2430205
46,46,WA,2031428,2059630,2037127,2036309,2011941
47,47,WV,738821,726341,720985,743612,752942
48,48,WI,1791199,1778018,1721543,1813458,1868867
49,49,WY,540122,556548,550182,539146,535612
50,50,DC,190529,183806,172963,175560,178929
51,51,US,97446021,96827465,94411432,97141368,98385210